*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.lock
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
client/dist
client/.tmp
client/.sass-cache
client/bower_components
client/app/modules/services.loopback.js
.vscode
.tmp
ref
